body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    min-height:100vh;

    display: flex;
    flex-direction: row;
}
.projectDiv{
    width:20%;
    padding:10px;
    background-color: #ece3f8;

}
.createProject{
    
    display: flex;
    flex-direction: row;
    
}
.taskDiv{
    width:80%;
    padding:10px;
    background-color: #d0b0f6;
    display: flex;
    flex-direction: column;
}
.renderTask{
    height:90%;
}
.addTask{
height:10%;
}

button{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
span{
    padding:10px;
}

.projectBtn:hover{
    background-color: #b481f8;
}
button:active{
    border-bottom:solid 3px black;
}
.task{
    background-color: #ece3f8;
    width:400px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.one,.step{
    display: flex;
    flex-direction: row;
}
.two{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.actionBtn{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.submit{
    background-color: green;
}
.close{
    background-color: red;
}
.task input, .task select{
    padding:10px;
}
textarea{
    resize: vertical;
}
.renderDiv{
    background-color: #ece3f8;
    display: flex;
    flex-direction: row;
    border:3px solid #b481f8;
    overflow: auto;
}
.taskHeader{
    display: flex;
    flex-direction:row;
    width: auto;
    justify-content: space-evenly;
    font-size: large;
}
.note{
    border:1px solid black;
    font-size: large;
}
.priority{
    font-size: large;
}
.subtask{
    display: flex;
    flex-direction: row;
}